/* CSS GLOBAL */
body {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: #eeeeee;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* FIM CSS GLOBAL */


/* CSS LOGO DO GOOGLE */
.logo-google {
    margin-top: 5%
}

/* FIM CSS LOGO DO GOOGLE */

/* CSS DA ÁREA DE PESQUISA */

.pesquisa {
    width: 500px;
}

.pesquisa input {
    width: 60%;
    appearance: none;
}

.botoes select,
button {
    border-radius: 0px;
    border-width: 1px;
    width: 130px;
    height: 22px;
    background: #ccc;
}

/* FIM CSS DA ÁREA DE PESQUISA */

/* CSS DA ÁREA SOBRE */
.sobre {
    margin-top: 10%;
    font-size: 18px;
}

.sobre .google {
    font-size: 30px;
}

/* FIM CSS DA ÁREA SOBRE  */

/* CSS DA ÁREA FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 99%;
}

/* FIM CSS DA ÁREA FOOTER  */