/* -------------------------------------------------------------- */
/* GLOBAL */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

button {
    width: 80%;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #a0a0a0;
}

/*NAV BAR*/
nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #5a3795;
    font-weight: bolder;
    z-index: 1;
}

nav ul {
    text-align: center;
}

nav li {
    margin-right: 10%;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 15px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;

}

nav li:hover {
    color: white;
    background-color: #f48423;
    text-decoration: none;
}

nav .logo {
    width: 100px;
    float: left;
}

/* FIM NAV BAR */

/* MAIN*/
main {
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.subtitulo {
    text-shadow: 2px;
}

/*FIM MAIN*/


/*FOOTER*/
#formas_pagamento {
    color: rgb(0, 0, 0);
}

#rodape {
    text-align: center;
}

.preco {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

/* FIM FOOTER */


/* -------------------------------------------------------------- */
/* PRODUTOS HTML */

/* GRID */
.produtos-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
}

/* CATEGORIAS */
.produtos-container .categorias {
    width: 300px;
}

.produtos-container .categorias .lista-categorias {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.produtos-container .categorias .lista-categorias ul {
    width: 100%;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.produtos-container .categorias .lista-categorias ul li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

}

/* BOX */
.produtos-container .box_produto {
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    text-align: center;
    border-style: inset;
    border-color: rgb(135, 175, 255);
}

.produtos-container .box_produto .imagem_produto {
    width: 200px;
    height: 200px;
}

.produtos-container .box_produto p em {
    text-decoration: line-through;
}

.produtos-container .box_produto .preco {
    font-weight: bold;
}


/* BOTOES */

.produtos-container .menu-botoes {
    font-size: medium;
}

.produtos-container .menu-botoes:hover {
    background-color: #a0a0a0;
}

.produtos-container .detalhes-produto {
    background-color: white;
    border: 2px solid #555555;
}

.produtos-container .detalhes-produto:hover {
    background-color: #555555;
}

.produtos-container .adicionar-carrinho {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.produtos-container .adicionar-carrinho:hover {
    background-color: #008CBA;
}

.produtos-container .comprar-produto {
    background-color: white;
    border: 2px solid #4CAF50;
}

.produtos-container .comprar-produto:hover {
    background-color: #4CAF50;
}


/*FIM PRODUTOS*/


/* -------------------------------------------------------------- */
/* LOJAS HTML */

.loja-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.loja-container .info {
    width: 80%;
    text-align: center;
}

/* -------------------------------------------------------------- */
/* CONTATOS HTML */

.contato-container {
    display: grid;
    grid-template-areas:
        ' esquerda direita '
        ' centro centro ';
    grid-gap: 10px;
    justify-items: center;
    text-align: center;
}

.item-esquerda {
    grid-area: esquerda;
}

.item-direita {
    grid-area: direita;
}

.item-centro {
    grid-area: centro;
}